
@use '../colors' as *;
@use '../tokens' as *;

:root {
  @include theme-vars($su-text-variants);

  --su-default-box-bg-color: #{$gray-50};
  --su-default-box-border-color: #{$gray-50};
  --su-default-box-border-radius: #{$su-default-radius};

  @media (prefers-color-scheme: dark) {
    @include theme-vars($su-text-variants-dark);
  }
}

.dark, [theme=dark] {
  @include theme-vars($su-text-variants-dark);

  --su-default-box-bg-color: #{$gray-800};
  --su-default-box-border-color: #{$gray-600};
}