@use './colors' as *;
@use './tokens' as *;

// Styles globaux pour le body
.su-preview-wrapper {
  color: $text-primary;
  background-color: $gray-50;
  border-radius: 4px;
  padding: 1rem;

  &[data-theme=dark] {
    color: $text-primary-dark;
    background-color: $gray-900;
  }



  .sb-flex-row {
    display: flex; flex-direction: row; gap: 1rem; align-items: center;
  }

  .sb-flex-cols {
    display: flex; flex-direction: column; gap: 1rem; align-items: flex-start;
  }
}