@use './colors' as *;
@use './tokens' as *;

// Styles globaux pour le body
.su-preview-wrapper {
  color: $text-primary;
  background-color: $gray-50;
  border-radius: 4px;
  padding: 1rem;

  &[data-theme=dark] {
    color: $text-primary-dark;
    background-color: $gray-900;
  }
}